<div class="login-form-container">
    <div class="login-form">
        <h1>Gửi lại email xác minh</h1>
        <mat-card *ngIf="!(afAuth.user | async)">
            <mat-icon>do_not_disturb</mat-icon>
            <span>Người dùng chưa đăng nhập - người dùng cần đăng nhập để gửi lại email xác minh</span>
        </mat-card>

        <mat-card>

            <p>Một email xác minh sẽ được gửi đến <span>{{ email }}</span>.</p>

            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                <span>{{ firebaseErrorMessage }}</span>
            </div>
            <div class="login-actions">
                <button mat-raised-button color="primary" [disabled]="mailSent"
                    (click)="resendVerificationEmail()">Gửi lại email xác minh</button>
            </div>
            <div *ngIf="mailSent">
                <p>Một email đã được gửi đi!</p>
                <button mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Quay lại trang chủ</span>
                </button>
            </div>
        </mat-card>

        <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
            <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>

    </div>
</div>