<app-nav-admin></app-nav-admin>
<button type="button" class="btn btn-primary" style="margin: 20px;" [routerLink]="['/adminVideo-form']">
    <mat-icon>add</mat-icon>Add Video
  </button>
<div class="list row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Type to search" [(ngModel)]="data">
      </div>
      <h4>Videos List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let video of videos?.reverse() | filter:data | paginate: { itemsPerPage: 8, currentPage: page, totalItems: totalLength }; let i = index "
          [class.active]="i == currentIndex"
          (click)="setActiveVideo(video, i)"
        >
          {{ video.title }}
        </li>
      </ul>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentVideo">
        <app-video-detail
          (refreshList)="refreshList()"
          [video]="currentVideo"
        ></app-video-detail>
      </div>
  
      <div *ngIf="!currentVideo">
        <br />
        <p>Please click on a Video...</p>
      </div>
    </div>
  </div>

