<h4 style="text-align:center;">{{currentVideo.title}}</h4>

<p class="small text-muted text-center">
    <mat-icon>date_range</mat-icon> {{currentVideo.date}} &nbsp;&nbsp; <mat-icon>remove_red_eye</mat-icon>
    {{currentVideo.views}}
</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" [src]="url" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

</div>

<br><br><br>

<span *ngIf="!(afAuth.user | async)">Bạn cần đăng nhập để thực hiện tính năng chia sẻ dưới đây</span>
<share-buttons [theme]="'material-dark'" [disabled]="!(afAuth.user | async)"
    [include]="['facebook','twitter','linkedin','pinterest','reddit','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','copy']"
    [show]="9" [size]="1" [url]="'https://covid19note.tk/'" [image]="newimg" [autoSetMeta]="false">
</share-buttons>